APP_NAME=imexassist-bot
PAGE_ACCESS_TOKEN=EAATigQ5jnQwBREupQIQHy1nmnZBcOjTniXYaqTXBBoDKYKEN0cz47ZCMA9YCpNIPlt2XBsOBsJ1ZAQS5p7zf7lyn0HRyczhSozmGrlxaKFwWARA6rZAMafIcnbRkCCkNeRlMz83d77xJtdEyKWVie5iBDa0BmVQegn76NvYnBxZAhwxo7ZAgvk4XVYjdUOQRyzNLeZA7bIcRqfyKricJByTQgZDZD
FB_VERIFY_TOKEN=IMEX_SECRET_2026
GCP_PROJECT_ID=imexassist-bot
GCP_REGION=europe-west1
VERTEX_MODEL_NAME=meta/llama-3-70b-instruct-maas
